/* =general */

section {
  clear: both;
  padding: 2rem 0 1rem;
}

.clear {
  clear: both;
}

/* = */
/* = */

.l-center-box div {
  margin: 0 auto;
  width: 650px;
  border: 2px solid #a6b2bc;
  background-color: #fff;
  color: #000;
  padding: 0 20px;
  text-align: left;
}

/* = */

.l-absolute {
  position: relative;
}

.l-absolute .box1 {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 200px;
  background-color: #b0c4de;
  border: 2px solid #34537d;
}

.l-absolute .box2 {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 150px;
  background-color: #fffafa;
  border: 2px solid #cd5c5c;
}
.l-absolute .box3 {
  position: absolute;
  top: 184px;
  left: 300px;
  width: 500px;
  background-color: #b0c4de;
  border: 2px solid #34537d;
  height: 100px;
}
.l-absolute .box4 {
  position: absolute;
  bottom: 3.6em;
  right: 14em;
  width: 200px;
  background-color: #fafafa;
  border: 2px solid #cd5c5c;
}

/* = */

.logo-float .header {
  border-top: 1px solid #778899;
  border-bottom: 1px dotted #b2bcc6;
  height: 3em;
}

.logo-float .slogan {
  font: 120% Georgia, "Times New Roman", Times, sans-serif;
  color: #778899;
  background-color: transparent;
  float: right;
  text-align: right;
  margin-right: 2em;
  margin-top: 0.5em;
}

.logo-float .logo {
  float: left;
  width: 180px;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

/* = */

.feature-img {
  float: right;
  width: 300px;
  border: 2px solid #000;
  margin-right: 20px;
  margin-left: 6px;
}

/* = */

.lMargin p {
  border: 2px solid #aaa;
  background-color: #eee;
}

.lMargin p.margin-test {
  margin: 40px;
}

.lMargin p.padding-test {
  padding: 40px;
}

/* = */

.one {
  background-color: #ccc;
  color: #fff;
  border: 2px solid #aaa;
  padding: 2px 6px;
}

.two {
  background-color: #ccc;
  color: #000;
  border: 2px solid #aaa;
  padding: 2px 6px;
  display: inline;
}

a {
  background-color: #acacac;
  color: #fff;
  text-decoration: none;
  padding: 1px 2px;
}

a.block {
  display: block;
}
